<nav class="nav navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="hdbox container-fluid">
        <a id="logo" href="{% url 'pybo:index' %}"></a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>