{% extends 'base.html' %}
{% load pybo_filter %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div id="wrap">

        <!-- 본문 영역 시작 -->
        <div id="container">
            <div id="vimg">
                <img src="{% static 'logo-png.png' %}" alt="세계지도">
            </div>
            </br>
            </br>
            </br>
            <div id="select" class="">
                <select aria-label="selectP" name="parkinfo" class="form-select form-select-lg" id="selectBox" onchange="ChangeValue()">
                    <option value="0" disabled selected sytle="display:none;">대륙을 선택하세요.</option>
                    <option value="1">남미</option>
                    <option value="2">북미</option>
                    <option value="3">아시아</option>
                    <option value="4">아프리카</option>
                    <option value="5">오세아니아</option>
                    <option value="6">유럽</option>
                </select>
            </div>
            <script>
                window.onload = function ChangeValue(){
                    $(document).ready(function() {
                        $('#selectBox').change(function() {
                            var result = $(' #selectBox option:selected').val();
                            if (result == "1") {
                                $('#table0').hide();
                                $('#table1').show();
                                $('#table2').hide();
                                $('#table3').hide();
                                $('#table4').hide();
                                $('#table5').hide();
                                $('#table6').hide();
                            }
                            else if (result == "2")
                            {
                                $('#table0').hide();
                                $('#table1').hide();
                                $('#table2').show();
                                $('#table3').hide();
                                $('#table4').hide();
                                $('#table5').hide();
                                $('#table6').hide();
                            } 
                            else if (result == "3")
                            {
                                $('#table0').hide();
                                $('#table1').hide();
                                $('#table2').hide();
                                $('#table3').show();
                                $('#table4').hide();
                                $('#table5').hide();
                                $('#table6').hide();
                            } 
                            else if (result == "4")
                            {
                                $('#table0').hide();
                                $('#table1').hide();
                                $('#table2').hide();
                                $('#table3').hide();
                                $('#table4').show();
                                $('#table5').hide();
                                $('#table6').hide();
                            } 
                            else if (result == "5")
                            {
                                $('#table0').hide();
                                $('#table1').hide();
                                $('#table2').hide();
                                $('#table3').hide();
                                $('#table4').hide();
                                $('#table5').show();
                                $('#table6').hide();
                            } 
                            else if (result == "6")
                            {
                                $('#table0').hide();
                                $('#table1').hide();
                                $('#table2').hide();
                                $('#table3').hide();
                                $('#table4').hide();
                                $('#table5').hide();
                                $('#table6').show();
                            } 
                            else {
                                $('#table0').show();
                                $('#table1').hide();
                                $('#table2').hide();
                                $('#table3').hide();
                                $('#table4').hide();
                                $('#table5').hide();
                                $('#table6').hide();
                            }
                            $("#selecBox").submit()
                        }); 
                        }); 
                }
            </script>
            <div id="lot" class="">
                <div id='table0' class="clr">
                    <img src="{% static 'panorama.jpg' %}" alt="panorama">
                </div>
                    <div id='table1' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '1' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id='table2' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '2' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id='table3' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '3' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id='table4' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '4' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id='table5' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '5' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id='table6' style="display: none;" class="line line1 clr">
                        {% for world in worlds.all %}
                        {% if world.CONTINENT == '6' %}
                        <form method="GET" action = "{% url 'pybo:detail' world.id %}" style="display: inline">
                        <button type="submit">{{ world.COUNTRY }}</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>
{% endblock %}
